* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #09091C;
}

section {
  height: auto;
}

img {
  width: 100%;
  height: auto;
}

.section__title {
  color: rgba(255, 255, 255, 0.9843137255);
  font-size: 2rem;
  padding-top: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  font-weight: 800;
}

.section__title.black {
  color: black;
}

.section__subtitle {
  font-weight: 500;
  color: rgb(165, 165, 165);
  font-size: 1rem;
}

h1, h3, h4, li, a {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Lato", sans-serif;
}

span, p {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 3.3rem;
  font-weight: 800;
  color: rgb(242, 242, 242);
}

p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8039215686);
  line-height: 1.65;
  font-weight: 500;
}

.header .logo {
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
}
.header .logo span {
  color: #F8D40B;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 5vw;
}
.header .navbar .nav__list {
  position: fixed;
  top: 11%;
  right: 200%;
  height: 30vh;
  width: 220px;
  padding: 1rem;
  background-color: #F8D40B;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 15px 1px 15px 15px;
  transition: right 0.4s ease;
  -webkit-box-shadow: 16px 127px 300px 62px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 16px 127px 300px 62px rgba(0, 0, 0, 0.65);
  box-shadow: 16px 127px 300px 62px rgba(0, 0, 0, 0.65);
}
.header .navbar .nav__list .nav__links {
  margin-top: 0.3rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  color: black;
  margin-bottom: 1.3rem;
  display: block;
  font-size: 1rem;
  cursor: pointer;
}
.header .navbar .show-menu {
  right: 12%;
}
.header .nav__icons {
  color: #09091C;
  background-color: #F8D40B;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .nav__icons #close-menu {
  display: none;
}

.header {
  background-color: transparent;
  position: relative;
  top: 0%;
  width: 100%;
  padding-top: 2rem;
  height: 100vh;
}

.header .hero__img .hero__desktop {
  display: none;
}
.header .hero {
  margin-inline: 4vw;
  padding-top: 7vh;
  display: flex;
}
.header .hero .hero__description h1 {
  margin-top: 2.5rem;
}
.header .hero .hero__description p {
  margin-block: 3rem;
}

.footer {
  background-color: rgba(255, 255, 255, 0.9843137255);
  padding-inline: 5vw;
  height: auto;
  padding-bottom: 4rem;
}
.footer .footer__title {
  padding-top: 3rem;
}
.footer .footer__title .logo {
  font-weight: 700;
  color: black;
  font-size: 1.8rem;
}
.footer .footer__title .logo span {
  color: #F8D40B;
}
.footer .footer__title p {
  color: #1b1b1b;
  margin-bottom: 1.3rem;
}
.footer .footer__grid {
  margin-block: 4rem;
}
.footer .footer__grid ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.footer .footer__grid ul li a {
  background-color: transparent;
  font-size: 1.23rem;
  color: black;
  font-weight: 600;
}
.footer .footer__social {
  margin-bottom: 2rem;
}
.footer .footer__social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.footer .footer__social ul i {
  font-size: 2rem;
  color: black;
}
.footer .copyright {
  text-align: center;
  font-weight: 300;
  padding-top: 1rem;
}

.btn-primary {
  background-color: #F8D40B;
  display: inline-block;
  padding: 1rem 1.55rem;
  border-radius: 7px;
  color: #09091C;
  font-weight: 600;
  font-size: 1rem;
}

.btn__link {
  color: #09091C;
  font-weight: 700;
  text-decoration: underline;
}

hr {
  width: 42%;
  color: #F8D40B;
  background-color: #F8D40B;
  border: none;
  height: 2px;
}

.services__hr {
  margin-top: 2.2rem;
  width: 30%;
}

.about {
  background-color: rgba(255, 255, 255, 0.9843137255);
  padding-bottom: 8rem;
}
.about .about__img {
  width: 100%;
  height: 100%;
}
.about .about__img img {
  width: 100%;
}
.about .about__description {
  margin-inline: 4vw;
  margin-top: 4rem;
}
.about .about__description h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 500;
  letter-spacing: 0.4px;
}
.about .about__description p {
  margin-top: 3.5rem;
  color: #1b1b1b;
  margin-bottom: 1.7rem;
}

.services {
  margin-inline: 8vw;
  padding-bottom: 6rem;
}
.services .services__img {
  width: 100%;
  height: 100%;
}
.services .services__img img {
  border-radius: 4px;
  width: 100%;
}
.services .services__container .services__description {
  padding-bottom: 5rem;
}
.services .services__container .services__description .services__title {
  margin-block: 1.7rem;
  line-height: 1.3;
}
.services .services__container .services__description .services__title span {
  color: #F8D40B;
  font-weight: 300;
  font-size: 0.7rem;
}
.services .services__container .services__description .services__title h3 {
  letter-spacing: 0.6px;
  color: rgba(255, 255, 255, 0.9843137255);
  font-weight: 700;
  font-size: 1.2rem;
}
.services .services__container .services__description p {
  color: rgba(255, 255, 255, 0.8039215686);
  font-weight: 400;
}

.work {
  background-color: rgba(255, 255, 255, 0.9843137255);
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
  row-gap: 3rem;
}
.work .section__title {
  padding-inline: 10vw;
}
.work .work__box {
  border: 1px solid #888888;
  margin-inline: 6vw;
  border-radius: 2px;
}
.work .work__box .work__description {
  margin-left: 2rem;
  margin-top: 2rem;
  margin-right: 1rem;
}
.work .work__box .work__description i {
  font-size: 2.6rem;
  color: #F8D40B;
}
.work .work__box .work__description h3 {
  margin-top: 1.8rem;
  font-size: 1.3rem;
  letter-spacing: 0.6px;
  font-weight: 800;
}
.work .work__box .work__description p {
  color: #888888;
  margin-top: 1.3rem;
  margin-bottom: 2.3rem;
  font-size: 0.9rem;
  margin-right: 1.3rem;
}

.clients {
  background-color: white;
}
.clients .swiper {
  display: flex;
  align-items: center;
  height: 400px;
  gap: 1rem;
}
.clients .client__box {
  margin-inline: 7vw;
  border-radius: 5px;
  -webkit-box-shadow: 4px 10px 21px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 10px 21px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 10px 21px -10px rgba(0, 0, 0, 0.75);
  background-color: rgb(254, 255, 240);
  padding: 1rem 1.4rem;
}
.clients .client__box .client__name {
  margin-top: 0.7rem;
  margin-bottom: 1.8rem;
}
.clients .client__box .client__name p {
  color: black;
  font-weight: 600;
  line-height: 1.3;
}
.clients .client__box .client__name span {
  color: #888888;
  font-size: 0.9rem;
}
.clients .client__box .client__comment h4 {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}
.clients .client__box .client__comment p {
  color: #09091C;
  line-height: 1.4;
  margin-bottom: 1.8rem;
}
.clients .client__box .client__stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients .client__box .client__stars i {
  color: #F8D40B;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.clients .client__box .client__stars img {
  width: 80%;
}

.gallery {
  padding-bottom: 3rem;
}
.gallery .gallery__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  margin-top: 7.5rem;
}

.contact .contact__grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10vw;
  margin-bottom: 6rem;
  row-gap: 2.8rem;
}
.contact .contact__grid .contact__item {
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
}
.contact .contact__grid .contact__item i {
  font-size: 2rem;
  color: #F8D40B;
}
.contact .contact__grid .contact__item p {
  color: white;
  line-height: 1.3;
  font-size: 1.3rem;
  font-weight: 400;
}
.contact .location {
  border: 2px solid black;
  margin-inline: 2vw;
  margin-block: 2rem;
}
.contact .location h4 {
  color: rgba(255, 255, 255, 0.9843137255);
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.contact .location iframe {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
