@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: #09091C;
}

section {
  height: auto;
}

img {
  height: auto;
  object-fit: cover;
  width: auto;
}

/* Estilo general para el logo */
.logo {
  display: none; /* Oculta ambos logos por defecto */
}

/* Mostrar solo el logo para escritorio */
@media (min-width: 768px) { /* Ajusta el valor según tus necesidades */
  .desktop-logo {
    display: block; /* Muestra el logo de escritorio en pantallas grandes */
  }
}
/* Mostrar solo el logo para móvil */
@media (max-width: 767px) { /* Ajusta el valor según tus necesidades */
  .mobile-logo {
    display: block; /* Muestra el logo móvil en pantallas pequeñas */
  }
}
.section__title {
  color: rgba(255, 255, 255, 0.9843137255);
  font-size: 2rem;
  padding-top: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  font-weight: 800;
  position: relative;
  z-index: 2;
}

.section__title.black {
  color: black;
}

h1, h3, h4, li, a {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Lato", sans-serif;
}

span, p {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 3.3rem;
  font-weight: 800;
  color: rgb(242, 242, 242);
}

p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8039215686);
  line-height: 1.65;
}

a {
  cursor: pointer;
}

.header {
  padding-top: 3rem;
}
.header .logo {
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  z-index: 2;
  position: relative;
}
.header .logo span {
  color: #F8D40B;
}
.header .navbar {
  z-index: 100;
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 5vw;
}
.header .navbar .nav__list {
  position: fixed;
  z-index: 10000;
  top: 12%;
  right: 200%;
  height: 33vh;
  width: 220px;
  padding: 1rem;
  background-color: #F8D40B;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 15px 1px 15px 15px;
  transition: right 0.4s ease;
}
.header .navbar .nav__list .nav__links {
  margin-top: 0.3rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  color: black;
  margin-bottom: 1.3rem;
  display: block;
  font-size: 1rem;
  cursor: pointer;
}
.header .navbar .show-menu {
  right: 15%;
}
.header .nav__icons {
  color: #09091C;
  background-color: #F8D40B;
  border-radius: 50%;
  padding: 0.6rem;
  top: 4.5%;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 10%;
  z-index: 1000;
}
.header .nav__icons #close-menu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header .navbar .nav__list {
    position: static;
    padding: 0;
    height: 0;
    width: 100%;
    align-items: center;
    transition: none;
    background-color: transparent;
  }
  .header .navbar .nav__list ul {
    display: flex;
    gap: 1.5rem;
  }
  .header .navbar .nav__list ul .nav__links {
    margin-top: -0.5rem;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.9843137255);
    position: relative;
  }
  .header .navbar .nav__list ul .nav__links::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #F8D40B;
    transition: 0.3s ease;
  }
  .header .navbar .nav__list ul .nav__links:hover::after {
    width: 100%;
  }
  .header .nav__icons {
    display: none;
  }
}
.header {
  background-color: transparent;
  position: relative;
  top: 0%;
  width: 100%;
  height: 100vh;
  background-image: url(../public/imagenes/hero-desktop.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.67); /* Color semitransparente */
  z-index: 1;
}
.header .hero__img .hero__desktop {
  display: none;
}
.header .hero {
  z-index: 2;
  margin-inline: 4vw;
  position: relative;
  padding-top: 7vh;
  display: flex;
}
.header .hero .hero__description {
  margin-bottom: 3rem;
}
.header .hero .hero__description h1 {
  margin-top: 2.5rem;
}
.header .hero .hero__description p {
  animation-delay: 0.6s;
  margin-block: 3rem;
}

@media screen and (min-width: 1025px) {
  .header {
    overflow: hidden;
    background-image: url(../public/imagenes/hero-desktop.jpg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 110%;
  }
  .header::before {
    background-color: rgba(0, 0, 0, 0.2); /* Color semitransparente */
  }
  .header .hero {
    padding-top: 4vh;
    margin-inline: 2vw;
  }
  .header .hero .hero__description {
    max-width: 50%;
    margin-left: 1rem;
  }
  .header .hero .hero__description p {
    margin-right: 2rem;
  }
  .header .hero .hero__description a {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1275px) {
  .header {
    background-position-x: 100%;
  }
  .header .hero .hero__description {
    margin-left: 2.4rem;
  }
}
@media screen and (min-width: 1475px) {
  .header {
    background-size: 46%;
  }
  .header .hero {
    padding-top: 6rem;
    width: 60%;
    margin-left: 8rem;
  }
  .header .hero .hero__description h1 {
    font-size: 4.8rem;
    line-height: 1.1;
  }
  .header .hero .hero__description p {
    font-size: 1.1rem;
    width: 100%;
  }
}
.footer {
  background-color: rgba(255, 255, 255, 0.9843137255);
  height: auto;
  display: flex;
  flex-direction: column;
}
.footer .footer__title {
  padding-left: 1rem;
  padding-top: 1rem;
}
.footer .footer__title p {
  color: #1b1b1b;
  margin-bottom: 1.3rem;
}
.footer .footer__grid {
  padding-left: 1.5rem;
  margin-block: 4rem;
}
.footer .footer__grid ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.footer .footer__grid ul li a {
  display: inline-block;
  background-color: transparent;
  font-size: 1.23rem;
  color: black;
  font-weight: 600;
  transition: 0.2s ease;
  position: relative;
}
.footer .footer__grid ul li a::after {
  content: "";
  position: absolute;
  width: 0%;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: #F8D40B;
  transition: 0.3s ease;
}
.footer .footer__grid ul li a:hover::after {
  width: 100%;
}
.footer .footer__social {
  margin-bottom: 2rem;
}
.footer .footer__social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.footer .footer__social ul i {
  font-size: 2rem;
  color: black;
  transition: 0.2s ease;
}
.footer .footer__social ul i:hover {
  color: #F8D40B;
}
.footer .copyright {
  text-align: center;
  font-weight: 300;
  padding-top: 1rem;
}

@media screen and (min-width: 1025px) {
  .footer {
    padding-top: 1rem;
  }
  .footer .footer__grid {
    margin-block: 7rem;
  }
  .footer .footer__grid ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer .footer__title p {
    max-width: 60%;
  }
  .footer .footer__title hr {
    width: 30%;
  }
  .footer .footer__social {
    margin-bottom: 4rem;
  }
  .footer .footer__social ul {
    margin-right: 2rem;
  }
  .footer .footer__social ul i {
    font-size: 2.5rem;
  }
}
.btn-primary {
  background-color: #F8D40B;
  display: inline-block;
  padding: 1rem 1.55rem;
  border-radius: 7px;
  color: #09091C;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.2 ease;
  animation-delay: 1.4s;
}
.btn-primary:hover {
  opacity: 0.8;
}

.btn__link {
  color: #09091C;
  font-weight: 700;
  text-decoration: underline;
}

hr {
  width: 42%;
  color: #F8D40B;
  background-color: #F8D40B;
  border: none;
  height: 2px;
}

.services__hr {
  margin-top: 2.2rem;
  width: 30%;
}

.about {
  background-color: rgba(255, 255, 255, 0.9843137255);
  padding-bottom: 8rem;
}
.about .about__img {
  width: 100%;
}
.about .about__img img {
  width: 100%;
  border-radius: 3px;
}
.about .about__img__desktop {
  display: none;
}
.about .about__description {
  padding-top: 3rem;
  margin-inline: 4vw;
}
.about .about__description h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 500;
  letter-spacing: 0.4px;
}
.about .about__description p {
  margin-top: 3rem;
  color: #1b1b1b;
  margin-bottom: 1.7rem;
}

@media screen and (min-width: 1025px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about .about__img {
    display: none;
  }
  .about .about__img__desktop {
    margin-top: 2rem;
    display: block;
    margin-left: 5rem;
  }
  .about .about__img__desktop img {
    max-width: 390px;
    height: 600px;
    border-radius: 5px;
  }
  .about .about__description {
    margin-top: 0;
    padding-top: 5rem;
  }
  .about .about__description h2 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }
  .about .about__description p {
    margin-bottom: 2.5rem;
  }
  .about .about__description hr {
    width: 33%;
  }
}
@media screen and (min-width: 1275px) {
  .about .about__img__desktop {
    padding-left: 8rem;
  }
}
@media screen and (min-width: 1475px) {
  .about .about__img__desktop {
    padding-left: 5rem;
  }
  .about .about__description {
    transform: translateX(-30%);
  }
}
.services {
  margin-inline: 8vw;
  padding-bottom: 6rem;
  padding-top: 3rem;
}
.services .services__img {
  width: 100%;
  height: auto;
}
.services .services__img img {
  border-radius: 4px;
  width: 100%;
}
.services .services__container .services__description {
  padding-bottom: 5rem;
}
.services .services__container .services__description .services__title {
  margin-block: 1.7rem;
  line-height: 1.3;
}
.services .services__container .services__description .services__title span {
  color: #F8D40B;
  font-weight: 300;
  font-size: 0.7rem;
}
.services .services__container .services__description .services__title h3 {
  letter-spacing: 0.6px;
  color: rgba(255, 255, 255, 0.9843137255);
  font-weight: 700;
  font-size: 1.2rem;
}
.services .services__container .services__description p {
  color: rgba(255, 255, 255, 0.8039215686);
  font-weight: 400;
}

@media screen and (min-width: 1025px) {
  .services {
    padding-top: 5rem;
    margin-inline: 3vw;
  }
  .services .services__img {
    margin-inline: 3vw;
  }
  .services .services__img img {
    width: 580px;
    height: 540px;
  }
  .services .services__container {
    display: flex;
    gap: 2rem;
    padding-bottom: 8rem;
  }
  .services .services__container .services__description {
    margin-right: 2rem;
  }
  .services .services__container .services__description .services__title {
    margin-block: 2rem;
  }
  .services .services__container .services__description .services__title span {
    font-size: 0.73rem;
  }
  .services .services__container .services__description .services__title h3 {
    margin-top: 0.4rem;
    font-size: 1.8rem;
  }
  .services .services__container .services__description p {
    max-width: 80%;
  }
  .services .services__container:nth-child(3), .services .services__container:nth-child(5) {
    flex-direction: row-reverse;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1275px) {
  .services {
    margin-inline: 14vw;
  }
  .services .services__description p {
    font-size: 1.1rem;
  }
}
.work {
  background-color: rgba(255, 255, 255, 0.9843137255);
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
  padding-top: 3rem;
  align-items: center;
}
.work .section__title {
  padding-inline: 10vw;
}
.work .work__grid {
  display: grid;
  gap: 2rem;
}
.work .work__grid .work__box {
  margin-inline: 6vw;
  border: 1px solid #888888;
  border-radius: 5px;
}
.work .work__grid .work__box .work__description {
  margin-left: 2rem;
  margin-top: 2rem;
  margin-right: 1rem;
}
.work .work__grid .work__box .work__description i {
  font-size: 2.6rem;
  color: #F8D40B;
}
.work .work__grid .work__box .work__description h3 {
  margin-top: 1.8rem;
  font-size: 1.3rem;
  letter-spacing: 0.6px;
  font-weight: 800;
}
.work .work__grid .work__box .work__description p {
  color: #888888;
  margin-top: 1.3rem;
  margin-bottom: 2.3rem;
  font-size: 0.9rem;
  margin-right: 1.3rem;
}

@media screen and (min-width: 1025px) {
  .work {
    padding-top: 3rem;
    padding-bottom: 13rem;
  }
  .work .section__title {
    padding-inline: 38vw;
  }
  .work .work__grid {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .work .work__grid .work__box {
    margin-inline: 2vw;
  }
  .work .work__grid .work__box .work__description {
    margin-left: 1rem;
  }
  .work .work__grid .work__box .work__description h3 {
    margin-top: 1rem;
  }
  .work .work__grid .work__box .work__description p {
    font-size: 0.8rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1275px) {
  .work {
    padding-inline: 3vw;
  }
  .work .work__grid {
    padding-top: 3rem;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .work .work__grid .work__box {
    margin-inline: 0;
  }
  .work .work__grid .work__box .work__description {
    margin-left: 1rem;
  }
  .work .work__grid .work__box .work__description h3 {
    margin-top: 1.4rem;
  }
  .work .work__grid .work__box .work__description p {
    font-size: 0.7rem;
  }
}
.clients {
  background-color: rgba(255, 255, 255, 0.9843137255);
  height: 90vh;
  padding-top: 5rem;
}
.clients h2 {
  margin-inline: 10vw;
}
.clients .swiper {
  display: flex;
  align-items: center;
  height: 400px;
  gap: 1rem;
}
.clients .client__box {
  margin-inline: 7vw;
  border-radius: 5px;
  -webkit-box-shadow: 4px 10px 21px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 10px 21px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 10px 21px -10px rgba(0, 0, 0, 0.75);
  background-color: rgb(254, 255, 240);
  padding: 1rem 1.4rem;
}
.clients .client__box .client__name {
  margin-top: 0.7rem;
  margin-bottom: 1.8rem;
}
.clients .client__box .client__name p {
  color: black;
  font-weight: 600;
  line-height: 1.3;
}
.clients .client__box .client__name span {
  color: #888888;
  font-size: 0.9rem;
}
.clients .client__box .client__comment span {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
}
.clients .client__box .client__comment p {
  color: #09091C;
  line-height: 1.4;
  margin-bottom: 1.8rem;
  margin-top: 1rem;
  font-weight: 400;
}
.clients .client__box .client__stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients .client__box .client__stars i {
  color: #F8D40B;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.clients .client__box .client__stars img {
  width: 80%;
  height: 100%;
}

@media screen and (min-width: 1025px) {
  .clients {
    padding-bottom: 10rem;
    padding-top: 3rem;
    overflow: hidden;
  }
  .clients .swiper {
    max-width: 530px;
    overflow: visible;
  }
  .clients .swiper-slide {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .clients .swiper-slide:not(.swiper-slide-active) {
    transform: scale(0.85);
    opacity: 0.5;
    filter: blur(1px);
  }
  .clients .swiper-slide-active {
    transform: scale(1.05);
    opacity: 1;
  }
  .clients .client__box {
    margin-inline: 0vw;
    padding: 1rem 2rem;
    height: 90%;
  }
  .clients .client__box .client__comment span {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
  }
  .clients .client__box .client__comment p {
    margin-bottom: 3.5rem;
    margin-right: 1rem;
  }
}
.contact {
  background-image: url(../public/imagenes/contact__us.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56); /* Color semitransparente */
  z-index: 1; /* Coloca la capa por encima de la imagen pero debajo del contenido */
}
.contact .section__subtitle {
  font-weight: 400;
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 2;
  font-size: 1rem;
}
.contact .contact__grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  position: relative; /* Asegura que el contenido esté por encima del pseudo-elemento */
  z-index: 2; /* Para que el contenido esté por encima de la capa de opacidad */
}
.contact .contact__grid .contact__item {
  text-align: center;
  position: relative;
}
.contact .contact__grid .contact__item i {
  margin-bottom: 0.3rem;
  background-color: #F8D40B;
  border-radius: 50%;
  padding: 0.8rem;
  font-size: 2rem;
  color: black;
}
.contact .contact__grid .contact__item h4 {
  color: rgba(255, 255, 255, 0.9843137255);
  font-weight: 700;
  font-size: 1.5rem;
}
.contact .contact__grid .contact__item p {
  color: rgba(255, 255, 255, 0.9843137255);
  line-height: 1.2;
  font-size: 1.02rem;
  font-weight: 400;
}

@media screen and (min-width: 1025px) {
  .contact {
    height: 80vh;
  }
  .contact .contact__grid {
    padding-top: 8rem;
    gap: 18rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .contact .contact__grid .contact__item i {
    margin-bottom: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
