.about{
    background-color: $color-white-bg;  
    padding-bottom: 8rem;
    .about__img {
        width: 100%;
        height: 100%;
        
        img{
            width: 100%;
        }
    }
    .about__img__desktop{
        display: none;
    }

   
    
    .about__description{
        margin-inline: 4vw;
        margin-top: 4rem;
        h2{
            font-size: 1.8rem;
            margin-bottom: 1rem;
            font-weight: $weight-medium;
            letter-spacing: .4px;
        }

        p{
            margin-top: 3.5rem;
            color: $color-p-2;
            margin-bottom: 1.7rem;
        }
    }
}



@media screen and (min-width:1025px){
    .about{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .about__img{
            display: none;
        }

        .about__img__desktop{
            margin-top: 2rem;
            display: block;
            margin-left: 5rem;
            img{
                max-width: 390px;
                height: 600px;
                border-radius: 5px;
            }
        }

       

        .about__description{
            margin-top: 0;
            padding-top: 5rem;

            h2{
                font-size: 2.2rem;
                margin-bottom: 1.5rem;
            }

            p{
                margin-bottom: 2.5rem;
            }

           

            hr{
                width: 33%;
            }
        }
    }
}

@media screen and (min-width:1275px){

.about{
    .about__img__desktop{
        padding-left: 8rem;
    }
}
}



@media screen and (min-width:1475px){
    .about{
        .about__img__desktop{
            padding-left: 5rem;
        }

        .about__description{
            transform: translateX(-30%);
        }
    }
}