.contact{
    .contact__grid{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10vw;
        margin-bottom: 6rem;
        row-gap: 2.8rem;

        .contact__item{
            display: flex;
            column-gap: 1.2rem;
            align-items: center;

            i{
                font-size: 2rem;
                color: $color-primary;
            }

            p{
                color: white;
                line-height: 1.3;
                font-size: 1.3rem;
                font-weight: $weight-regular;
            }
        }
    }

    .location{
        border: 2px solid $color-black;
        margin-inline: 2vw;
        margin-block: 2rem;

        h4{
            color: $color-white-bg;
            text-align: center;
            font-size: 1.6rem;
            margin-bottom: .5rem;
        }
        
        iframe{
            width: 100%;
        }
    }
}