.contact{
    .contact__grid{
        justify-content: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-block: 11rem;
        gap: 6rem;
        
        .contact__item{
            display: flex;
            column-gap: 1.2rem;
            align-items: center;


            
            i{
                background-color: $color-primary;
                border-radius: 50%;
                padding: 1rem;
                display: block;
                font-size: 2rem;
                color: black;
            }

            h4{
                color: $color-white-bg;
                font-weight: $weight-light;
                font-size: 1.5rem;
                margin-bottom: .5rem;
            }

            p{
                color: $color-white-bg;
                line-height: 1.2;
                font-size: 1.020rem;
                font-weight: $weight-bold;
            }
        }
    }

    .location{
        border: 2px solid $color-black;
        margin-inline: 2vw;
        margin-block: 4rem;

        h4{
            color: $color-white-bg;
            text-align: center;
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
        
        iframe{
            width: 100%;
        }
    }
}

@media screen and (min-width:1025px){
    .contact{
        .contact__grid{
            align-items: center;
            gap: 15rem;
            padding-bottom: 6rem;
        }

        .location{
            margin-inline: 10vw;
        }
    }
}