$color-primary:#F8D40B;
$color-black-bg:#09091C;
$color-white-bg:#ffffffd7;
$color-p-1:#ffffffdd;
$color-p-2:#1b1b1b;
$color-gray-light:#888888;

$ff-latto:"Lato", sans-serif;
$ff-raleway:"Raleway", sans-serif;

$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;

$line-height-base: 1.5;
