.footer{
    background-color: $color-black;
    height: auto;
    display: flex;
    flex-direction: column;

    .img-logo{
        padding-block: 3rem;
    }

    .footer__title{
        padding-left: 1rem;
       
        p{
            color: $color-p-1;
            margin-bottom: 1.3rem;

        }
    }

    .footer__grid{
        padding-left: 1.1rem;
        margin-block: 5rem;
        ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
            li{
                a{
                    display: inline-block;
                    background-color: transparent;
                    font-size: 1.3rem;
                    color: $color-p-1;
                    font-weight: $weight-semibold;
                    transition: .2s ease;
                    position: relative;
                    text-transform: uppercase;
                    &::after{
                        content: "";
                        position: absolute;
                        width: 0%;
                        bottom: -3px;
                        left: 0;
                        height: 2px;
                        background-color: $color-primary;
                        transition: .3s ease;
                    }
                    &:hover::after{
                        width: 100%;
                    }
                }
               }
            }
    }

    .footer__social{
        margin-bottom: 2rem;

        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
        }
    }

    .copyright{
        display: flex;
        justify-content: space-evenly;
        font-weight: $weight-light;
        padding-top: 1rem;
        color: $color-white-bg;
        padding-bottom: 1rem;
        font-size: 1.1rem;
    }
}


@media screen and (min-width:1025px){
    .footer{
        padding-top: 1rem;
        .footer__grid{
            margin-block: 7rem;

            ul{
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        .footer__title{
            p{
                max-width: 60%;
            }

            hr{
                width: 30%;
            }
        }

        .footer__social{
            margin-bottom: 4rem;
            ul{
                margin-right: 2rem;
                i{
                    font-size: 2.5rem;
                }
            }
        }
       
    }
}