.footer{
    background-color: $color-white-bg;
    padding-inline: 5vw;
    height: auto;
    padding-bottom: 4rem;

    .footer__title{
        padding-top: 3rem;
        .logo{
            font-weight: $weight-bold;
            color: black;
            font-size: 1.8rem;
            span{
                color: $color-primary;
            }
        }
        p{
            color: $color-p-2;
            margin-bottom: 1.3rem;
        }
    }

    .footer__grid{
        margin-block: 4rem;
        ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
            li{
                a{
                    background-color: transparent;
                    font-size: 1.230rem;
                    color: black;
                    font-weight: $weight-semibold;
                }
               }
            }
    }

    .footer__social{
        margin-bottom: 2rem;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.4rem;

            i{
                font-size: 2rem;
                color: $color-black;
            }
        }
    }

    .copyright{
        text-align: center;
        font-weight: $weight-light;
        padding-top: 1rem;
    }
}