.header{
    .hero__img{
        .hero__desktop{
            display: none;
        }
    }

    .hero{
        margin-inline: 4vw;
        padding-top: 7vh;
        display: flex;
        .hero__description{
            h1{
                margin-top: 2.5rem;
            }

            p{
                margin-block: 3rem;
            }

            a{
                margin-bottom: 3rem;
            }
        }
    }

}