.header{
    padding-top: 3rem;
    


    .navbar{
        z-index: 100;
        height: 4vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-inline: 8vw;

      
.img-logo{
height: auto;
}
       
        .nav__list{
            position: fixed;
            z-index: 10000;
            top: 12%;
            right: 200%; 
            height: 33vh;  
            width: 220px;
            padding: 1rem;
            background-color: $color-primary;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            border-radius: 15px 1px 15px 15px;
            transition: right 0.4s ease;

           

            .nav__links{
                        margin-top: .3rem;
                        font-weight: $weight-bold;
                        letter-spacing: 1.2px;
                        color: black;
                        margin-bottom: 1.3rem;
                        display: block;
                        font-size: 1rem;
                        cursor: pointer;
                        transition: .3s ease;

                        &:hover{
                            transform: translateX(10px);
                        }
                    }      
        }

        .show-menu{
            right: 15%;
        }
    }
    

    
    .nav__icons{
        color: $color-black-bg;
        background-color: $color-primary;
        border-radius: 50%;
        padding: .8rem;
        top: 4%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 9%;
        z-index: 1000;
        #close-menu{
            display: none;
        }
    }
}


@media screen and (min-width:1024px){
    .header{

        .navbar{
            .nav__list{
                position: static;
                padding: 0;
                height: 0;
                width: 100%;
                align-items: center;
                transition: none;
                background-color: transparent;


                ul{
                    display: flex;
                    gap: 1.5rem;
                    
                    .nav__links{
                        margin-top: -0.5rem;
                        margin-bottom: 0;
                        color: $color-white-bg;
                        position: relative;
                        &::after{
                            content: "";
                            position: absolute;
                            bottom: -3px;
                            left: 0;
                            width: 0%;
                            height: 2px;
                            background-color: $color-primary;
                            transition: .3s ease;
                        }
                        &:hover::after{
                            width: 100%;
                        }
                    }
                }
            }
        }

        .nav__icons{
            display: none;
        }
    }
}
