.btn-primary{
    background-color: $color-primary;
    display: inline-block;
    padding: 1rem 1.550rem;
    border-radius: 7px;
    color: $color-black-bg;
    cursor: pointer;
    font-weight: $weight-semibold;
    font-size: 1rem;
    transition: .2 ease;
    animation-delay: 1.4s;
    
        &:hover{
            opacity: .8 !important;
        }
}

