.btn-primary{
    background-color: $color-primary;
    display: inline-block;
    padding: 1rem 1.550rem;
    border-radius: 7px;
    color: $color-black-bg;
    font-weight: $weight-semibold;
    font-size: 1.030rem;
}