*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    background-color: $color-black-bg;
}

section{
    height: auto;
}


img{
    height: auto;
    object-fit: cover;
    width: auto;
}

.logo{
  width: auto;
  height: auto;
}

/* Estilo general para el logo */
.logo {
  display: none; /* Oculta ambos logos por defecto */
}

/* Mostrar solo el logo para escritorio */
@media (min-width: 768px) { /* Ajusta el valor según tus necesidades */
  .desktop-logo {
    display: block; /* Muestra el logo de escritorio en pantallas grandes */
  }
}

/* Mostrar solo el logo para móvil */
@media (max-width: 767px) { /* Ajusta el valor según tus necesidades */
  .mobile-logo {
    display: block; /* Muestra el logo móvil en pantallas pequeñas */
  }
}



.section__title{
    color: $color-white-bg;
    font-size: 2rem;
    padding-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    font-weight: $weight-extrabold;
    position: relative;
    z-index: 2;
}

.section__title.black{
    color: $color-black;
}


