h1,h3,h4,li,a{
    font-family: $ff-raleway;
}

h2{
    font-family: $ff-latto;
}

span,p{
    font-family: $ff-latto;
}

h1{
    font-size: clamp(3rem,4.2vw,4.5rem);
    font-weight: $weight-extrabold;
    color: rgb(242, 242, 242);
}

@media screen and (max-width:360px){
    h1{
        font-size: 2.9rem;
    }
}

p{
    font-size: .940rem;
    color: $color-p-1;
    line-height: 1.650;
}

a{
    cursor: pointer;
}

