h1,h3,h4,li,a{
    font-family: $ff-raleway;
}

h2{
    font-family: $ff-latto;
}

span,p{
    font-family: $ff-latto;
}

h1{
    font-size: 3.3rem;
    font-weight: $weight-extrabold;
    color: rgb(242, 242, 242);
}



p{
    font-size: 1rem;
    color: $color-p-1;
    line-height: 1.650;
    font-weight: $weight-medium;
}

